requests==2.32.3
langchain==0.2.11
unstructured==0.14.10
praw==7.7.1
torch==2.3.1
transformers==4.42.4
yfinance==0.2.41
pandas==2.2.2
numpy==1.26.4
streamlit==1.36.0
plotly==5.22.0
crewai==0.41.1
crewai-tools==0.4.8
langchain-community==0.2.10
langchain-groq==0.1.6
langchain-openai==0.1.16
python-dotenv==1.0.1
chromadb
pysqlite3-binary
